@charset "UTF-8";
@media screen and (max-width: 1024px) {
    
    /*Sessão motivação*/

    section h1{
        font-size: 24px;
    }


    /*Caixa treinos*/

    .treinos{
        height: 300px;
        width: 350px;
        left: 30%;
    }

    /*Caixa dias*/

    .dias{
        left: 45vw;
        width: 200px;
    }

    /*Caixa tipos*/

    .tipos{
        left: 37%;
        display: none;
    }

    /*Segunda-Feira*/

    .segunda, .terca, .quarta, .quinta, .sexta{
        width: 360px;
        height: 600px;
        left: 33%;
        top: 4vh;
    }

    .segunda h2{
        margin: 15px 0px;
        font-size: 20px;
    }

    .segunda h3{
        font-size: 15px;
    }

    .segunda p{
        font-size: 14px;
    }

    .t-cardio{
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 150px 185px;
    }
    
    .t-pernas {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 150px 100px 80px;
    }
    
    .t-abdominal{
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 85px 85px 85px 85px;
    }

    /*Main Seção do corpo inicial*/

    main{
        background-color: rgb(14, 14, 14);
        display: flex;
        justify-content: center;
    }

    #inicio{
        background-color: gray;
        width: 1200px;
        padding: 20px;
    }

    #inicio h1{
        text-align: center;
    }

    #inicio h2{
        font-size: 20px;
    }

    #inicio li{
        font-size: 16px;
    }
    
}

/*Resposividade*/

@media (max-width: 768px) {

    .segunda, .terca, .quarta, .quinta, .sexta{
        width: 360px;
        height: 600px;
        left: 26%;
        top: 6vh;
    }

        /*Caixa treinos*/

        .treinos{
            left: 28%;
        }
    
        /*Caixa dias*/
    
        .dias{
            left: 42vw;
        }
    
        /*Caixa tipos*/
    
        .tipos{
            left: 36%;
        }
    

}

@media (max-width: 430px) {

    .segunda, .terca, .quarta, .quinta, .sexta{
        width: 360px;
        left: 9%;
        top: 6vh;
    }

        /*Caixa treinos*/

        .treinos{
            left: 9%;
        }
    
        /*Caixa dias*/
    
        .dias{
            left: 30vw;
        }
    
        /*Caixa tipos*/
    
        .tipos{
            left: 9%;
        }
    

}

@media (max-width: 390px) {

    .segunda, .terca, .quarta, .quinta, .sexta{
        width: 360px;
        left: 4%;
        top: 7vh;
    }

        /*Caixa treinos*/

        .treinos{
            left: 5%;
        }
    
        /*Caixa dias*/
    
        .dias{
            left: 30vw;
        }
    
        /*Caixa tipos*/
    
        .tipos{
            left: 5%;
        }
    

}

@media (max-width: 375px) {

    .segunda, .terca, .quarta, .quinta, .sexta{
        width: 360px;
        left: 2%;
        top: 8vh;
    }

        /*Caixa treinos*/

        .treinos{
            left: 3%;
        }
    
        /*Caixa dias*/
    
        .dias{
            left: 30vw;
        }
    
        /*Caixa tipos*/
    
        .tipos{
            left: 3%;
        }
    

}

@media (max-width: 360px) {

    .segunda, .terca, .quarta, .quinta, .sexta{
        width: 355px;
        height: 600px;
        left: 0.5%;
        top: 8vh;
    }

        /*Caixa treinos*/

        .treinos{
            left: 1%;
        }
    
        /*Caixa dias*/
    
        .dias{
            left: 30vw;
        }
    
        /*Caixa tipos*/
    
        .tipos{
            left: 1%;
        }
    

}