@charset "UTF-8";
@media screen and (max-width: 1024px) {
    
    /*Sessão motivação*/

    body{
        background-size: 1200px;
    }

    .sessao-motivação{
        flex-direction: column;
        height: auto;
        
    }

    .img-motivacional{
        width: 200px;
    }

    .sessao-motivação h1{
        text-align: center;
        font-size: 130px;
        margin: 20px;
    }

    .sessao-motivação h2{
        text-align: center;
        font-size: 0px;
    }

    .sessao-motivação h2::after{
        content: "e melhore a sua saúde!";
        font-size: 40px;
    }

    .sessao-motivação h3{
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        font-size: 20px;
    }
    /*Caixa treinos*/

    .treinos{
        height: 300px;
        width: 350px;
        left: 30%;
    }

    /*Caixa dias*/

    .dias{
        left: 45vw;
        width: 200px;
    }

    /*Caixa tipos*/

    .tipos{
        left: 37%;
        display: none;
    }

    /*Segunda-Feira*/

    .segunda, .terca, .quarta, .quinta, .sexta{
        width: 360px;
        height: 600px;
        left: 33%;
        top: 4vh;
    }

    .segunda, .terca, .quarta, .quinta, .sexta, h1{
        font-size: 26px;
    }

    .segunda, .terca, .quarta, .quinta, .sexta, h2{
        margin: 15px 0px;
        font-size: 20px;
    }

    .segunda, .terca, .quarta, .quinta, .sexta, h3{
        font-size: 15px;
    }

    .segunda, .terca, .quarta, .quinta, .sexta, p{
        font-size: 14px;
    }

    .t-cardio{
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 150px 185px;
    }
    
    .t-pernas {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 150px 100px 80px;
    }
    
    .t-abdominal{
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 85px 85px 85px 85px;
    }

    /*Terça-Feira*/

    .t-peito{
        grid-template-columns: 170px 80px 80px;
    }

    /*Quarta-Feira*/

    .t-abdominal-qua{     
        grid-template-columns: 85px 85px 85px 85px;
        text-align: center;
    }

    /*Caixa dos Tipos de Treinos*/

    .tipos-treinos{
        left: 4vw;
        top: 10%;
    }

    .tipos-treinos img{
        width: 330px;
    }

    /*Main Seção do corpo inicial*/

    main{
        background-color: rgb(14, 14, 14);
    }

    #inicio{
        padding: 30px;
    }

    #inicio h1{
        font-size: 24px;
        text-align: center;
    }

    #inicio h2{
        font-size: 20px;
    }

    #inicio li{
        font-size: 16px;
    }

    .gifs{
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .gifs img{
        width: 150px;
        height: auto;
        margin-bottom: 50px;
    }
    
}

/*Resposividade*/

@media (max-width: 768px) {

    .segunda, .terca, .quarta, .quinta, .sexta{
        width: 360px;
        height: 600px;
        left: 26%;
        top: 6vh;
    }

        /*Caixa treinos*/

        .treinos{
            left: 26%;
        }
    
        /*Caixa dias*/
    
        .dias{
            left: 42vw;
        }
    
        /*Caixa tipos*/
    
        .tipos{
            left: 36%;
        }
    

}

@media (max-width: 520px) {

    .segunda, .terca, .quarta, .quinta, .sexta{
        width: 360px;
        left: 9%;
        top: 6vh;
    }

        /*Caixa treinos*/

        .treinos{
            left: 17%;
        }
    
        /*Caixa dias*/
    
        .dias{
            left: 32vw;
        }
    
        /*Caixa tipos*/
    
        .tipos{
            left: 29%;
        }
    
}

@media (max-width: 500px) {

    .segunda, .terca, .quarta, .quinta, .sexta{
        width: 360px;
        left: 9%;
        top: 6vh;
    }

        /*Caixa treinos*/

        .treinos{
            left: 15%;
        }
    
        /*Caixa dias*/
    
        .dias{
            left: 30vw;
        }
    
        /*Caixa tipos*/
    
        .tipos{
            left: 28%;
        }
    
}

@media (max-width: 460px) {

    .segunda, .terca, .quarta, .quinta, .sexta{
        width: 360px;
        left: 9%;
        top: 6vh;
    }

        /*Caixa treinos*/

        .treinos{
            left: 12%;
        }
    
        /*Caixa dias*/
    
        .dias{
            left: 30vw;
        }
    
        /*Caixa tipos*/
    
        .tipos{
            left: 27%;
        }
    

}

@media (max-width: 420px) {

    .segunda, .terca, .quarta, .quinta, .sexta{
        width: 360px;
        left: 9%;
        top: 6vh;
    }

        /*Caixa treinos*/

        .treinos{
            left: 8%;
        }
    
        /*Caixa dias*/
    
        .dias{
            left: 30vw;
        }
    
        /*Caixa tipos*/
    
        .tipos{
            left: 22%;
        }
    

}

@media (max-width: 390px) {

    .segunda, .terca, .quarta, .quinta, .sexta{
        width: 360px;
        left: 4%;
        top: 7vh;
    }

        /*Caixa treinos*/

        .treinos{
            left: 3%;
        }
    
        /*Caixa dias*/
    
        .dias{
            left: 30vw;
        }
    
        /*Caixa tipos*/
    
        .tipos{
            left: 21%;
        }
    

}

@media (max-width: 375px) {

    .segunda, .terca, .quarta, .quinta, .sexta{
        width: 360px;
        left: 2%;
        top: 8vh;
    }

        /*Caixa treinos*/

        .treinos{
            left: 6%;
        }
    
        /*Caixa dias*/
    
        .dias{
            left: 30vw;
        }
    
        /*Caixa tipos*/
    
        .tipos{
            left: 20%;
        }

}

@media (max-width: 360px) {

    .segunda, .terca, .quarta, .quinta, .sexta{
        width: 355px;
        height: 600px;
        left: 0.5%;
        top: 8vh;
    }

        /*Caixa treinos*/

        .treinos{
            left: 1%;
        }
    
        /*Caixa dias*/
    
        .dias{
            left: 30vw;
        }
    
        /*Caixa tipos*/
    
        .tipos{
            left: 1%;
        }
    

}