@charset "UTF-8";

/*Geral*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

h1{
    color: white;
    font-size: 50px;
}

/*Cabeçalho Nav*/

nav{
    background-color: brown;
    text-align: center;
    padding: 10px;
}

nav a{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
}

nav a:hover{
    background-color: rgb(163, 70, 70);
    border-bottom: 2px solid rgb(167, 15, 15);
}

/*Caixas de navegação*/

.treinos, 
.dias, 
.tipos{
    width: 300px;
    height: 200px;
    background-color: gray;
    border-radius: 10px;
}

/*Caixa treinos*/

.treinos{
    position: absolute;
    height: 350px;
    left: 30vw;
    display: none;
}

.treinos, .dias, .tipos, li{
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 10px;
    padding: 5px;
}

.treinos li:hover{
    background-color: rgb(163, 70, 70);
}

/*Caixa dias*/

.dias{
    position: absolute;
    left: 47vw;
    width: 160px;
    display: none;
}

.dias li:hover{
    background-color: rgb(163, 70, 70);
}

/*Caixa tipos*/

.tipos{
    position: absolute;
    height: 300px;
    width: 220px;
    left: 55vw;
    display: none;
    overflow-y: scroll;
}

.tipos li:hover{
    background-color: rgb(163, 70, 70);
}


/*Caixas do Menu dos Dias*/

.segunda, .terca, .quarta, .quinta, .sexta{
    display: none;
    position: absolute;
}

/*Segunda-Feira*/

.segunda, .terca, .quarta, .quinta, .sexta{
    background-color: brown;
    width: 700px;
    height: 550px;
    left: 27%;
    top: 10vh;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.segunda h1{
    background-color: rgb(105, 10, 10);
    border-radius: 5px 5px 0px 0px;
    padding: 3px;
}

.segunda h2{
    margin: 10px;
    border: 1px solid;
}


.t-cardio{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 300px 250px;
    text-align: left;
}

.t-pernas {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 250px 180px 120px;
    text-align: left;
}

.t-abdominal{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 140px 140px 140px 140px;
    text-align: left;
}

/*terça-Feira*/

.terca h1{
    background-color: rgb(105, 10, 10);
    border-radius: 5px 5px 0px 0px;
    padding: 3px;
}

.terca h2{
    margin: 10px;
    border: 1px solid;
}

.t-peito{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 250px 180px 120px;
    text-align: left;
}

/*Quarta-Feira*/

.quarta h1{
    background-color: rgb(105, 10, 10);
    border-radius: 5px 5px 0px 0px;
    padding: 3px;
}

.quarta h2{
    margin: 10px;
    border: 1px solid;
}

.t-abdominal-qua{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 140px 140px 140px 140px;
    text-align: left;
}

/*Quinta-Feira*/

.quinta h1{
    background-color: rgb(105, 10, 10);
    border-radius: 5px 5px 0px 0px;
    padding: 3px;
}

.quinta h2{
    margin: 10px;
    border: 1px solid;
}

/*Sexta-Feira*/

.sexta h1{
    background-color: rgb(105, 10, 10);
    border-radius: 5px 5px 0px 0px;
    padding: 3px;
}

.sexta h2{
    margin: 10px;
    border: 1px solid;
}

/*Tipos de Treinos*/

.tipos-treinos{
    position: absolute;
    left: calc(50% - 13%);
    top: 10%;
    background-color: brown;
    border-radius: 20px;
    text-align: center;
}

.tipos-treinos h2{
    color: white;
    margin: 10px;
}

.tipos-treinos img{
    width: 400px;
    border-radius: 20px;
}

.ex1, .ex2, .ex3, .ex4, .ex5, .ex6, .ex7, .ex8, .ex9, .ex10 {
    display: none;
}

/*Sessão motivação*/

.sessao-motivação{
    background-color: rgb(105, 10, 10);
    height: 620px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessao-motivação h1{
    color: white;
    font-size: 70px;
    text-shadow: 6px 4px 10px black;
}

/*Main Seção do corpo inicial*/

main{
    background-color: rgb(14, 14, 14);
}

#inicio{
    margin: auto;
    background-color: gray;
    max-width: 1000px;
    padding: 30px;
}

#inicio h1{
    text-align: center;
    font-size: 50px;
    color: black;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
}

#inicio h2{
    margin: 10px;
}

#inicio li{
    list-style: circle;
    margin-left: 50px;
    margin-bottom: 5px;
}

/*Sessão de Gifs diarios*/

.gifs{
    margin: auto;
    background-color: white;
    max-width: 1000px;
    padding: 50px;
    display: grid;
    justify-content: center;
    grid-template-columns: 400px 300px;
}

.gifs img{
    width: 300px;
    height: auto;
}

.gifs h2{
    margin: 10px;
}

/*Rodapé*/

footer{
    background-color: rgb(105, 10, 10);
    padding: 15px;
    color: white;
    text-align: center;
}

footer h3{
    font-size: 18px;
    margin-top: 10px;
}

footer p{
    margin: 5px;
}

footer img{
    height: 25px;
    margin-left: 0.5%;
    margin-right: 0.5%;
}



