@charset "UTF-8";

/*Geral*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

/*Cabeçalho Nav*/

nav{
    background-color: brown;
    text-align: center;
    padding: 10px;
}

nav a{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
}

nav a:hover{
    background-color: rgb(163, 70, 70);
    border-bottom: 2px solid rgb(167, 15, 15);
}

/*Caixas de navegação*/

.treinos, 
.dias, 
.tipos{
    width: 400px;
    height: 200px;
    background-color: gray;
    border-radius: 10px;
    padding: 20px;
}

/*Caixa treinos*/

.treinos{
    position: absolute;
    height: 300px;
    left: 22vw;
    display: none;
}

.treinos li{
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 5px;
    padding: 5px;
}

.treinos li:hover{
    background-color: rgb(163, 70, 70);
}

/*Caixa dias*/

.dias{
    position: absolute;
    left: 47vw;
    width: 200px;
    display: none;
}

.dias ul{
    list-style: none;
}

.dias li{
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 5px;
    padding: 5px;
}

.dias li:hover{
    background-color: rgb(163, 70, 70);
}

/*Caixa tipos*/

.tipos{
    position: absolute;
    height: 300px;
    width: 350px;
    left: 55vw;
    display: none;
}


/*Menu dos Dias*/

.segunda,
.terca,
.quarta,
.quinta,
.sexta{
    display: none;
    position: absolute;
}

/*Segunda-Feira*/

.segunda{
    background-color: brown;
    width: 700px;
    height: 550px;
    left: 29%;
    top: 10vh;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.segunda h2{
    margin: 10px;
}

.segunda .roteiro{
    text-align: left;
}

.t-cardio{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 300px 250px;
}

.t-pernas {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 250px 180px 120px;
}

.t-abdominal{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 140px 140px 140px 140px;
}

/*terça-Feira*/

.terca{
    background-color: brown;
    width: 700px;
    height: 550px;
    left: 29%;
    top: 10vh;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.terca h2{
    margin: 10px;
}

.terca .roteiro{
    text-align: left;
}

/*Quarta-Feira*/

.quarta{
    background-color: brown;
    width: 700px;
    height: 550px;
    left: 29%;
    top: 10vh;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.quarta h2{
    margin: 10px;
}

.quarta .roteiro{
    text-align: left;
}

/*Quinta-Feira*/

.quinta{
    background-color: brown;
    width: 700px;
    height: 550px;
    left: 29%;
    top: 10vh;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.quinta h2{
    margin: 10px;
}

.quinta .roteiro{
    text-align: left;
}

/*Sexta-Feira*/

.sexta{
    background-color: brown;
    width: 700px;
    height: 550px;
    left: 29%;
    top: 10vh;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.sexta h2{
    margin: 10px;
}

.sexta .roteiro{
    text-align: left;
}

/*Sessão motivação*/

.sessao-motivação{
    background-color: rgb(105, 10, 10);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section h1{
    color: white;
    font-size: 50px;
}

/*Main Seção do corpo inicial*/

main{
    background-color: rgb(14, 14, 14);
    display: flex;
    justify-content: center;
}

#inicio{
    background-color: gray;
    width: 1200px;
    padding: 20px;
}

#inicio h1{
    text-align: center;
}

#inicio h2{
    margin: 10px;
}

#inicio li{
    list-style: circle;
    margin-left: 50px;
    margin-bottom: 5px;
}
