@charset "UTF-8";

/*geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
}

body{
    display: flex;
}

main{
    width: 100%;
}

/*SideBar. Barra de navegação Lateral*/

.sidebar{
    background-color: #970e97d7;
    width: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: 0.3s;
}

.icons-warraper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 5px;
    transition: 0.3s;
}

.icons-warraper:hover{
    background-color: #0000004d;
    border-left: 5px solid black;
}

.icon-menu{
    width: 35px;
    align-self: center;
    margin-bottom: 40px;
    cursor: pointer;
}

.icons{
    max-width: 60px;
    height: auto;
    cursor: pointer;
}

.text{
    display: none;
    margin-left: 10px;
    font-size: 20px;
}

span{
    margin-left: 20px;
    margin-right: 10px;
    font-size: 20px;
}

.One{
    margin: -12px;
}

/*Conteiner. Corpo principal*/

.container{
    height: 100vh;
    padding: 30px;
    background-color: #161616;
}

.profile-warraper{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
}

.img-profile{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}


/*Pages. Sub-Paginas */

.sub-pages{
    display: none;
    background-color: #ffffffbe;
    width: 300px;
    height: auto;
    padding: 20px;

    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.closed{
    width: 30px;
    height: auto;
    position: absolute;
    left: 89%;
    top: 0.5%;
    transition: 0.2s;
}

.closed:hover{
    width: 50px;
    left: 84%;
}

.btn{
    margin: 6px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover{
    background-color: #161616;
    color: white;
}

.gifs-warraper{
    display: none;
    position: absolute;
    left: 52%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: #ffffffbe;
    padding-top: 10px;
    width: 350px;
    height: 350px;
}

.gif-one{
    display: flex;
}

.gif{
    margin-left: 10px;
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.legend-gif{
    width: 100px;
    margin-top: 20px;
    margin-left: 10px;
    border: 2px solid black;
    padding: 8px;
}

.alt-legends{
    padding: 5px;
    width: 100px;
    margin-left: 10px;
    margin-top: 5px;
    background-color: #970e97d7;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.alt-legends:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

@media (max-width: 720px) {

    .profile-warraper{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1{
        font-size: 20px;
    }

    .sub-pages{
        width: 250px;
        height: auto;
        left: 61%;
        top: 60%;
    }

    .btn{
        font-size: px;
    }

}
